@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#canvaswrap {
    width: 100%;
    height: calc(100% - 480px);
    position: relative;
    overflow: hidden;
}
#canvaswrap.fullscreen {
    height: 100%;
}
#canvaswrap canvas {
    position: absolute;
}
#wrap.overlay #canvaswrap {
    height: 100%;
}
#canvaswrap.fullheight {
    height: 100%;
}
#globaliconwrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    z-index: 1;
}
#globaliconcolumn {
    margin: 0px 0px 0px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#globaliconcolumn.invisible {
    display: none;
}
.globaliconinner {
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}
.globaliconinner.nevershow,
.globaliconinner.invisible {
    display: none;
}
.globaliconinner + .globaliconinner {
    margin: 8px 0px 0px;
}
.globaliconinner img {
    margin: auto;
    width: 100%;
    opacity: 0.5;
}
.globaliconinner:hover {
    background-color: rgba(64, 64, 64, 0.8);
}
.globaliconinner:hover img {
    opacity: 0.8;
}
#hidemenuicon.hide .hidemenu {
    display: inherit;
}
#hidemenuicon.hide .showmenu {
    display: none;
}
#hidemenuicon .hidemenu {
    display: none;
}
#hidemenuicon .showmenu {
    display: inherit;
}
#eyeiconwrap {
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 20px;
    margin: auto 0px 8px;
    padding: 10px 8px;
    width: 40px;
    height: 60px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    pointer-events: none;
    cursor: default;
}
#stariconwrap {
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 20px;
    margin: 0px;
    padding: 10px 8px;
    width: 40px;
    height: 60px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}
#wrap.overlay #stariconwrap {
    margin: 8px 0px 94px;
}
#eyeiconwrap.visible,
#stariconwrap.visible {
    display: flex;
}
#eyeiconwrap img {
    margin: 0px auto auto;
    width: calc(100% - 4px);
    opacity: 0.5;
}
#stariconwrap img {
    margin: 0px auto auto;
    width: calc(100% - 4px);
    opacity: 0.5;
}
#stariconwrap:hover {
    background-color: rgba(64, 64, 64, 0.8);
}
#stariconwrap:hover img {
    opacity: 0.8;
}
#eyecounterwrap,
#starcounterwrap {
    font-family: 'Overpass Mono', monospace;
    font-size: 9px;
    text-align: center;
    text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
    margin: auto 0px 0px;
    min-height: 12px;
    max-height: 12px;
    position: relative;
}
#eyecounter,
#starcounter {
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
#eyeoverlay,
#staroverlay {
    color: hotpink;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 1.0;
    transform: translate(0px, -12px);
}
#eyeoverlay.visible,
#staroverlay.visible {
    display: block;
}
#eyeoverlay.popup,
#staroverlay.popup {
    display: block;
    opacity: 0.0;
    transform: translate(0px, -24px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.lineout {
    background-color: #111;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #1DA1F2;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 10px;
    width: calc(100% - 1px);
    display: flex;
    min-height: 32px;
    max-height: 32px;
    overflow: hidden;
}
.lineout.warn {
    color: orangered;
}
.lineout.error {
    color: #FF517B;
}
#wrap.overlay .lineout {
    background-color: rgba(16, 16, 16, 0.9);
}
#counter, #counteraudio {
    display: inline-block;
}
#pausewrap {
    margin: 0px 24px 0px 0px;
}
#pause {
    display: flex;
    flex-direction: row;
}
#pausecaption {
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
.counter {
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    min-width: 120px;
    max-width: 120px;
    height: 32px;
    margin: -1px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
    overflow: hidden;
    user-select: none;
}
.counterchars {
    font-size: 12px;
    display: inline-block;
}
.message {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
}
.editor {
    font-family: 'Overpass Mono', monospace;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 130%;
    width: 100%;
    height: calc(100% - 32px);
    display: block;
}
#wrap.overlay .editor {
    border-right: 1px solid rgba(96, 96, 96, 0.2);
    height: calc(100% - 32px);
}
.editorblock {
    width: 100%;
    height: 100%;
    display: block;
}
.editorblock.invisible {
    display: none;
}
#wrap.overlay .editorblock {
    height: calc(100vh - 94px);
}
#editorwrap {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: row;
    position: relative;
}
#editorwrap.invisible {
    display: none;
}
#wrap.overlay #editorwrap {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    flex-direction: column;
    position: absolute;
}
#interface {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#wrap.overlay #editorwrap #interface {
    width: calc(100% - 80px);
    min-height: calc(100% - 94px);
    max-height: calc(100% - 94px);
    flex-direction: row;
    position: absolute;
}
#menu {
    background: rgb(17, 17, 17);
    color: whitesmoke;
    min-width: 220px;
    max-width: 220px;
}
#wrap.overlay #menu {
    background: rgba(17, 17, 17, 0.9);
    min-width: 100%;
    max-width: 100%;
    min-height: 94px;
    max-height: 94px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    z-index: 9;
}
.menublock {
    border-top: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden;
}
.menublock.invisible {
    display: none;
}
.h3wrap {
    display: flex;
    flex-direction: row;
}
.menublock h3 {
    background-color: #222;
    color: #999999;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 7px 9px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}
#wrap.overlay #menu .menublock h3 {
    background-color: rgba(48, 48, 48, 0.7);
    color: #aaaaaa;
}
.menublock .menublockinner {
    font-size: 16px;
    padding: 8px 15px;
}
.menublockinner select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #2E2E2E;
    border: 0px;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    margin: 2px 0px;
    padding: 8px 5px 10px 10px;
    width: 100%;
}
.menublockinner select option {
    font-weight: bold;
}
#wrap.overlay #menu .menublock {
    width: 35%;
    min-width: 150px;
}
#wrap.overlay #menu #exportblock {
    min-width: 450px;
    width: 100%;
}
#wrap.overlay #menu #exportblock .menublockinner {
    display: flex;
    flex-direction: row;
}
#wrap.overlay #menu #exportblock .menublockinner .menublockselectwrap,
#wrap.overlay #menu #exportblock .menublockinner .menublockbuttonwrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#wrap.overlay #menu #broadcastblock .menublockinner {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 14px 0px;
}

select.dropdown {
    background-image:
        linear-gradient(45deg, transparent 50%, #999 50%),
        linear-gradient(135deg, #999 50%, transparent 50%),
        linear-gradient(to right, #3E3E3E, #3E3E3E);
    background-position:
        calc(100% - 19px) calc(1em + 1px),
        calc(100% - 14px) calc(1em + 1px),
        100% 0;
    background-size:
        4px 4px,
        5px 4px,
        2.3em 2.5em;
    background-repeat: no-repeat;
}
#wrap.overlay #menu #exportblock .menublockinner select {
    margin: 4px 3px;
}
.menublockinner a,
.menublockinner a:visited {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0px;
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
}
.menublockinner a:hover {
    color: #1DA1F2;
    opacity: 1.0;
}
#wrap.overlay #menu .menublockinner a {
    margin: 12px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#twitter::before {
    content: ' ';
    background-image: url('../resource/twitter.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 5px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#twitter:hover::before {
    background-image: url('../resource/twitterblue.svg');
}
#github::before {
    content: ' ';
    background-image: url('../resource/github.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 7px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#github:hover::before {
    background-image: url('../resource/githubblue.svg');
}
#wrap.overlay #twitter::before,
#wrap.overlay #github::before {
    margin: auto 3px auto 0px;
    width: 14px;
    height: 14px;
}
#twitterdummy {
    background-image: url('../resource/twitterblue.svg');
    width: 0px;
    height: 0px;
    display: inline-block;
}
#githubdummy {
    background-image: url('../resource/githubblue.svg');
    width: 0px;
    height: 0px;
    display: inline-block;
}

.menublockinner .button {
    background-color: #1DA1F2;
    border: 0px;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2px 0px 5px;
    padding: 8px 5px 10px 5px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
.menublockinner .button:hover {
    opacity: 0.8
}
.menublockinner .button.disabled:hover,
.menublockinner .button.disabled {
    background-color: #555;
    color: silver;
    cursor: default;
}
#wrap.overlay #menu #exportblock .menublockinner .button {
    margin: 5px 3px;
    width: 100%;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#audiotogglewrap,
#audiotogglewrap label {
    background-color: #222;
    min-width: 50px;
    max-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#wrap.overlay #menu #audiotogglewrap {
    background-color: rgba(48, 48, 48, 0.7);
}
#wrap.overlay #menu #audiotogglewrap label {
    background-color: transparent;
}
.toggle {
    display: none;
}
.togglebutton,
input[type=checkbox] + .togglebutton {
    background-color: black;
    border-radius: 20px;
    margin: 7px auto;
    width: 32px;
    height: 16px;
    position: relative;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
input[type=checkbox]:checked + .togglebutton {
    background-color: #1DA1F2;
    transition: background-color 0.2s ease;
}
input[type=checkbox] + .togglebutton::before {
    background-color: #ddd;
    content: ' ';
    border-radius: 20px;
    margin: 0px calc(100% - 16px) 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    transition: margin 0.2s ease;
}
input[type=checkbox]:checked + .togglebutton::before {
    margin: 0px 0px 0px calc(100% - 16px);
    transition: margin 0.2s ease;
}
#wrap.overlay #syncscrollblock .togglebutton {
    margin: 15px auto;
}
#playiconwrap {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}
.playicon {
    margin: 0px 5px;
    min-width: 38px;
    max-width: 38px;
    height: 38px;
    opacity: 0.7;
    transition: opacity 0.1s ease;
    cursor: pointer;
}
.playicon:hover {
    opacity: 1.0;
    transition: opacity 0.1s ease;
}
.playicon.disabled,
.playicon.disabled:hover {
    opacity: 0.2;
    transition: opacity 0.1s ease;
    cursor: default;
}

#layer {
    background-color: rgba(32, 32, 32, 0.9);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}
#layer.visible {
    display: flex;
}
#dialog {
    background-color: #141414;
    border-radius: 5px;
    color: #f0f0f0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#dialogmessagewrap {
    border-bottom: 1px solid #222;
    padding: 20px 20px 10px;
}
#dialogmessage {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
}
#dialogmessage h3 {
    border-bottom: 1px solid #444;
    color: silver;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px 8px;
}
#dialogmessage h3:first-child {
    margin: 0px 0px 8px;
}
#dialogmessage a {
    color: #1DA1F2;
    text-decoration: none;
}
#dialogmessage a:hover {
    text-decoration: underline;
}
#dialogmessage input[type=text] {
    background-color: inherit;
    border: 0px;
    border-bottom: 2px solid #222;
    color: #1DA1F2;
    margin: 0px 8px;
    padding: 5px;
    width: calc(100% - 20px);
}
#dialogmessage label {
    padding: 3px 0px 3px 10px;
    display: block;
}
#dialogmessage label input[type=radio] {
    vertical-align: bottom;
}
#dialogmessage label span {
    margin: 0px 0px 0px 5px;
}
#dialogbuttonwrap {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dialogbutton {
    border: 1px solid #333;
    border-radius: 20px;
    line-height: 170%;
    margin: 0px 0px 0px 8px;
    padding: 3px 20px;
    cursor: pointer;
    user-select: none;
}
.dialogbutton.invisible {
    display: none;
}
#dialogbuttonok {
    color: #1DA1F2;
}
#dialogbuttonok:hover {
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
    color: inherit;
}
#dialogbuttoncancel {
    color: #FF517B;
}
#dialogbuttoncancel:hover {
    background-color: #FF517B;
    border: 1px solid #FF517B;
    color: inherit;
}
#dialogbuttonok.disabled,
#dialogbuttoncancel.disabled,
#dialogbuttonok.disabled:hover,
#dialogbuttoncancel.disabled:hover,
.dialogbutton.disabled {
    background-color: #555;
    border: 1px solid #555;
    color: silver;
    cursor: default;
}
#downloadconfig {
    line-height: 24px;
}
#downloadconfig div {
    margin: 5px 0px;
}
#downloadconfig div span {
    min-width: 80px;
    display: inline-block;
}
#downloadconfig div span.cross {
    text-align: center;
    min-width: 20px;
    display: inline-block;
}
#downloadconfig div input[type=number] {
    background-color: #3e3e3e;
    border: 1px solid #141414;
    color: whitesmoke;
    padding: 3px;
    width: 80px;
}
#downloadconfig label {
    padding: 3px 0px 3px 10px;
    min-width: 300px;
    display: block;
    cursor: pointer;
}
#downloadconfig label:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
#downloadconfig label input[type=radio] {
    vertical-align: baseline;
}
#downloadconfig label span {
    font-size: medium;
    margin: 0px 5px 0px 10px;
}

#wrap.overlay .ace-chaos {
    background-color: transparent;
}
#wrap.overlay .ace-chaos .ace_gutter {
    background: rgba(32, 32, 32, 0.2);
    color: white;
    border-right: 1px solid rgba(96, 96, 96, 0.2);
}
#wrap.overlay .ace-chaos .ace_text-layer span {
    background-color: rgba(8, 8, 8, 0.8);
    display: inline-block;
}
#wrap.overlay .ace-chaos .ace_marker-layer .ace_bracket {
    border: 3px solid white;
}
#wrap.overlay .ace-chaos .ace_comment {
    color: #aaa;
}
