@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
}
#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#canvaswrap {
    width: 100%;
    min-height: 512px;
    max-height: 512px;
}
#editorwrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#editor {
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 200%;
    width: 100%;
    height: 100%;
}
#menu {
    min-width: 128px;
    max-width: 128px;
}

