@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    position: relative;
}
#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#canvaswrap {
    width: 100%;
    height: calc(100% - 480px);
}
.lineout {
    background-color: #111;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #1DA1F2;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    min-height: 28px;
    max-height: 28px;
}
.lineout.warn {
    color: orangered;
}
.lineout.error {
    color: #FF517B;
}
.counter {
    border-right: 1px solid black;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    min-width: 120px;
    max-width: 120px;
    height: 100%;
}
.message {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
}
.editor {
    font-family: 'Overpass Mono', monospace;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 130%;
    width: 100%;
    height: calc(100% - 30px);
    display: block;
}
.editorblock {
    width: 100%;
    height: 100%;
    display: block;
}
.editorblock.invisible {
    display: none;
}
#editorwrap {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: row;
}
#interface {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
}
#menu {
    background: rgb(17,17,17);
    color: whitesmoke;
    min-width: 220px;
    max-width: 220px;
    height: 100%;
}
#menu .menublock {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.h3wrap {
    display: flex;
    flex-direction: row;
}
.menublock h3 {
    background-color: #222;
    color: #999999;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    height: 30px;
}
.menublock .menublockinner {
    font-size: 16px;
    padding: 8px 15px;
}
.menublockinner select {
    background-color: #2E2E2E;
    border: 0px;
    color: whitesmoke;
    font-size: 16px;
    margin: 2px;
    padding: 8px;
    width: 100%;
}
.menublockinner a,
.menublockinner a:visited {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0px;
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
}
.menublockinner a:hover {
    color: #1DA1F2;
    opacity: 1.0;
}
#twitter::before {
    content: ' ';
    background-image: url('../resource/twitter.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 5px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#twitter:hover::before {
    background-image: url('../resource/twitterblue.svg');
}
#github::before {
    content: ' ';
    background-image: url('../resource/github.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 7px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#github:hover::before {
    background-image: url('../resource/githubblue.svg');
}

.menublockinner .button {
    background-color: #1DA1F2;
    border: 0px;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    margin: 2px 0px;
    padding: 6px 5px;
    user-select: none;
    cursor: pointer;
}
.menublockinner .button:hover {
    background-color: #1DA1F2;
}
.menublockinner .button.disabled:hover,
.menublockinner .button.disabled {
    background-color: #555;
    color: silver;
    cursor: default;
}
#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#audiotogglewrap,
#audiotogglewrap label {
    background-color: #222;
    min-width: 50px;
    max-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.toggle {
    display: none;
}
.togglebutton,
input[type=checkbox] + .togglebutton {
    background-color: black;
    border-radius: 20px;
    margin: 6px auto;
    width: 32px;
    height: 16px;
    position: relative;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
input[type=checkbox]:checked + .togglebutton {
    background-color: #1DA1F2;
    transition: background-color 0.2s ease;
}
input[type=checkbox] + .togglebutton::before {
    background-color: #ddd;
    content: ' ';
    border-radius: 20px;
    margin: 0px calc(100% - 16px) 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    transition: margin 0.2s ease;
}
input[type=checkbox]:checked + .togglebutton::before {
    margin: 0px 0px 0px calc(100% - 16px);
    transition: margin 0.2s ease;
}
#playiconwrap {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}
.playicon {
    margin: 0px 5px;
    min-width: 32px;
    max-width: 32px;
    opacity: 0.7;
    transition: opacity 0.1s ease;
    cursor: pointer;
}
.playicon:hover {
    opacity: 1.0;
    transition: opacity 0.1s ease;
}
.playicon.disabled,
.playicon.disabled:hover {
    opacity: 0.2;
    transition: opacity 0.1s ease;
    cursor: default;
}

