@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Barlow', sans-serif;
    position: relative;
}
#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
#canvaswrap {
    width: 100%;
    height: calc(100% - 480px);
}
#canvaswrap.fullscreen {
    height: 100%;
}
.lineout {
    background-color: #111;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #1DA1F2;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    min-height: 32px;
    max-height: 32px;
}
.lineout.warn {
    color: orangered;
}
.lineout.error {
    color: #FF517B;
}
#counter, #counteraudio {
    display: inline-block;
}
.counter {
    border-right: 1px solid black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    margin: -1px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
    user-select: none;
}
.counterchars {
    font-size: 12px;
    display: inline-block;
}
.message {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
}
.editor {
    font-family: 'Overpass Mono', monospace;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 130%;
    width: 100%;
    height: calc(100% - 32px);
    display: block;
}
.editorblock {
    width: 100%;
    height: 100%;
    display: block;
}
.editorblock.invisible {
    display: none;
}
#editorwrap {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: row;
}
#editorwrap.invisible {
    display: none;
}
#interface {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
}
#menu {
    background: rgb(17,17,17);
    color: whitesmoke;
    min-width: 220px;
    max-width: 220px;
    height: 100%;
}
#menu .menublock {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.h3wrap {
    display: flex;
    flex-direction: row;
}
.menublock h3 {
    background-color: #222;
    color: #999999;
    font-size: 14px;
    padding: 7px 9px;
    width: 100%;
    height: 30px;
}
.menublock .menublockinner {
    font-size: 16px;
    padding: 8px 15px;
}
.menublockinner select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #2E2E2E;
    border: 0px;
    color: whitesmoke;
    font-family: inherit;
    font-size: 16px;
    margin: 2px 0px;
    padding: 8px 5px 10px 10px;
    width: 100%;
}
select.dropdown {
    background-image:
        linear-gradient(45deg, transparent 50%, #999 50%),
        linear-gradient(135deg, #999 50%, transparent 50%),
        linear-gradient(to right, #3E3E3E, #3E3E3E);
    background-position:
        calc(100% - 19px) calc(1em + 1px),
        calc(100% - 14px) calc(1em + 1px),
        100% 0;
    background-size:
        4px 4px,
        5px 4px,
        2.3em 2.5em;
    background-repeat: no-repeat;
}
.menublockinner a,
.menublockinner a:visited {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0px;
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
}
.menublockinner a:hover {
    color: #1DA1F2;
    opacity: 1.0;
}
#twitter::before {
    content: ' ';
    background-image: url('../resource/twitter.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 5px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#twitter:hover::before {
    background-image: url('../resource/twitterblue.svg');
}
#github::before {
    content: ' ';
    background-image: url('../resource/github.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 7px auto 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#github:hover::before {
    background-image: url('../resource/githubblue.svg');
}

.menublockinner .button {
    background-color: #1DA1F2;
    border: 0px;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    margin: 2px 0px 5px;
    padding: 8px 5px 10px 5px;
    user-select: none;
    cursor: pointer;
}
.menublockinner .button:hover {
    opacity: 0.8
}
.menublockinner .button.disabled:hover,
.menublockinner .button.disabled {
    background-color: #555;
    color: silver;
    cursor: default;
}
#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#audiotogglewrap,
#audiotogglewrap label {
    background-color: #222;
    min-width: 50px;
    max-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.toggle {
    display: none;
}
.togglebutton,
input[type=checkbox] + .togglebutton {
    background-color: black;
    border-radius: 20px;
    margin: 7px auto;
    width: 32px;
    height: 16px;
    position: relative;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
input[type=checkbox]:checked + .togglebutton {
    background-color: #1DA1F2;
    transition: background-color 0.2s ease;
}
input[type=checkbox] + .togglebutton::before {
    background-color: #ddd;
    content: ' ';
    border-radius: 20px;
    margin: 0px calc(100% - 16px) 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    transition: margin 0.2s ease;
}
input[type=checkbox]:checked + .togglebutton::before {
    margin: 0px 0px 0px calc(100% - 16px);
    transition: margin 0.2s ease;
}
#playiconwrap {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}
.playicon {
    margin: 0px 5px;
    min-width: 38px;
    max-width: 38px;
    opacity: 0.7;
    transition: opacity 0.1s ease;
    cursor: pointer;
}
.playicon:hover {
    opacity: 1.0;
    transition: opacity 0.1s ease;
}
.playicon.disabled,
.playicon.disabled:hover {
    opacity: 0.2;
    transition: opacity 0.1s ease;
    cursor: default;
}

#layer {
    background-color: rgba(32, 32, 32, 0.9);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
#layer.visible {
    display: flex;
}
#dialog {
    background-color: #141414;
    border-radius: 5px;
    color: #f0f0f0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#dialogmessagewrap {
    border-bottom: 1px solid #222;
    padding: 20px 20px 10px;
}
#dialogmessage {
    font-size: 14px;
    width: 200px;
    min-height: 100px;
    max-height: 100px;
    overflow: auto;
}
#dialogbuttonwrap {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dialogbutton {
    border: 1px solid #333;
    border-radius: 20px;
    margin: 0px 0px 0px 8px;
    padding: 3px 20px;
    cursor: pointer;
}
#dialogbuttonok {
    color: #1DA1F2;
}
#dialogbuttonok:hover {
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
    color: inherit;
}
#dialogbuttoncancel {
    color: #FF517B;
}
#dialogbuttoncancel:hover {
    background-color: #FF517B;
    border: 1px solid #FF517B;
    color: inherit;
}

